.homePage {
  .el-badge__content{
    background-color: #e6a23c;
  }
  .el-tabs__header{
    margin: 0px !important;
  }
  .table-box-person{
    height: 100%;
    th {
      background-color: #e4e4e4;
      color: #606266;
      padding: 0 !important;
      height: 30px;
      line-height: 30px;
    }
    td {
      height: 40px;
      line-height: 40px;
      padding: 8px !important;
      font-size:14px;
      border-bottom: 0px !important;
    }
  }
}
