.person {
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
  .table-box-person{
    height: 100%;
    th {
      background-color: #eaeaea;
      color: #606266;
      padding: 0 !important;
      height: 30px;
      line-height: 30px;
    }
    .u-btn{
      font-size:18px;
      cursor:pointer;
      margin-left: 5px;
      display:none;
      i {
        color:#ccc;
        margin-left:5px;
      }
      i:hover{
        color:#409eff;
      }
    }
    tr:hover{
      .u-btn{
        display: inline;
      }
      .date{
        display: none;
      }
    }
    td {
      height: 40px;
      line-height: 40px;
      padding: 8px !important;
      font-size:14px;
      border-bottom: 0px !important;
    }
  }
  .easy-cm-ul li div:hover{
    background-color: #f3f4f9 !important;
    color: #000 !important;
  }

  .easy-cm-ul i{
    font-size: 12px;
    margin-right: 10px;
    color: #a7a7a7;
  }
}
